body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:667px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:140px;
  top:76px;
  width:1226px;
  height:591px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:591px;
}
#u4 {
  position:absolute;
  left:2px;
  top:288px;
  width:1222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:150px;
  top:85px;
  width:1209px;
  height:175px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:175px;
}
#u6 {
  position:absolute;
  left:2px;
  top:80px;
  width:1205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:200px;
  top:268px;
  width:94px;
  height:26px;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:320px;
  top:266px;
  width:127px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:200px;
  top:303px;
  width:94px;
  height:26px;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:320px;
  top:301px;
  width:127px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:466px;
  top:371px;
  width:127px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:203px;
  top:226px;
  width:92px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:313px;
  top:218px;
  width:252px;
  height:33px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:33px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:200px;
  top:335px;
  width:94px;
  height:26px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:320px;
  top:335px;
  width:127px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:320px;
  top:370px;
  width:130px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22 {
  position:absolute;
  left:200px;
  top:370px;
  width:94px;
  height:26px;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:603px;
  top:346px;
  width:647px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:50px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:204px;
  top:435px;
  width:1130px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:1113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1130px;
  height:1px;
}
#u27 {
  position:absolute;
  left:200px;
  top:457px;
  width:94px;
  height:26px;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:320px;
  top:455px;
  width:127px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:204px;
  top:422px;
  width:100px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:200px;
  top:492px;
  width:94px;
  height:26px;
  text-align:right;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:320px;
  top:490px;
  width:127px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:200px;
  top:569px;
  width:94px;
  height:26px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:320px;
  top:567px;
  width:127px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:200px;
  top:604px;
  width:94px;
  height:26px;
  text-align:right;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:320px;
  top:602px;
  width:127px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:200px;
  top:639px;
  width:94px;
  height:26px;
  text-align:right;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:320px;
  top:637px;
  width:127px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:457px;
  top:459px;
  width:57px;
  height:26px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:514px;
  top:456px;
  width:40px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47 {
  position:absolute;
  left:567px;
  top:480px;
  width:40px;
  height:35px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:457px;
  top:488px;
  width:57px;
  height:26px;
  text-align:right;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:515px;
  top:486px;
  width:40px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:567px;
  top:560px;
  width:40px;
  height:35px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:457px;
  top:568px;
  width:57px;
  height:26px;
  text-align:right;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:515px;
  top:566px;
  width:40px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u57 {
  position:absolute;
  left:568px;
  top:594px;
  width:40px;
  height:35px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:458px;
  top:602px;
  width:57px;
  height:26px;
  text-align:right;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:516px;
  top:600px;
  width:40px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  position:absolute;
  left:568px;
  top:632px;
  width:40px;
  height:35px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:458px;
  top:640px;
  width:57px;
  height:26px;
  text-align:right;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:516px;
  top:638px;
  width:40px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:200px;
  top:530px;
  width:94px;
  height:26px;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:320px;
  top:530px;
  width:127px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:567px;
  top:520px;
  width:40px;
  height:35px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u71 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:457px;
  top:530px;
  width:57px;
  height:26px;
  text-align:right;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:515px;
  top:530px;
  width:40px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:228px;
  top:678px;
  width:94px;
  height:27px;
  text-align:right;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:228px;
  top:709px;
  width:94px;
  height:26px;
  text-align:right;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:228px;
  top:741px;
  width:94px;
  height:26px;
  text-align:right;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:443px;
  top:675px;
  width:94px;
  height:26px;
  text-align:right;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:450px;
  top:710px;
  width:94px;
  height:26px;
  text-align:right;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:451px;
  top:742px;
  width:94px;
  height:26px;
  text-align:right;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:193px;
  top:796px;
  width:540px;
  height:160px;
  color:#FF0000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:160px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
